{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>

    <div id="new-post-form-ctn">
        <h2>New Post</h2>
        <form id="new-post-form">
            <textarea id="new-post-content" class="form-control"></textarea>
            <input id="submit-new-post" type="submit" class="btn btn-primary">
        </form>
    </div>
    <hr>
    <div id="all-posts-ctn" class="posts-ctn">

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/getposts.js' %}"></script>
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}