{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="profile-username"></h1>
    <div id="profile-follow-data">
        <span id="profile-follow-bar">
            <div id="followers-ctn" class="badge bg-light text-dark">
                <div id="followers-head">Followers</div>
                <div id="followers"></div>
            </div>
            <div id="following-ctn" class="badge bg-light text-dark">
                <div id="following-head">Following</div>
                <div id="following"></div>
            </div>
        </span>
    </div>
    <hr>
    <div id="profile-posts-ctn" class="posts-ctn">
        
    </div>
    <div class="posts-page-btns-ctn">

    </div>
{% endblock %}

{% block script %}
    <script>
        var profile_id = "{{ profile_id }}";
        var user_id = "{{ user_id }}";
    </script>
    <script src="{% static 'network/getposts.js' %}"></script>
    <script src="{% static 'network/getuser.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}