body {
    padding: 10px;
}

a.listing-link {
    text-decoration: none;
    color: black;
}

a.listing-link:hover {
    color: #0a58ca;
}

.active-list {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.active-list-item {
    border-top: 2px solid lightgrey;
    height: 200px;
}

.list-img-ctn {
    height: 200px;
    width: 300px;
    border-right: 2px solid lightgrey;
}

.list-img {
    max-width: 100%;
    max-height: 100%;
}

.list-info-ctn {
    height: 200px;
    width: -webkit-calc(100% - 250px);
}

.list-info-ctn p {
    max-height: 96px;
}

.active-list-item > div {
    display: table-cell;
    padding: 8px;
}


.listing-img-ctn {
    width: 100%
}

.bid-text {
    color: red;
}

.leader-text {
    color: #004225;
}

.category-ctn {
    width: 95vw;
    height: 60vh;
}

.category-item {
    flex-basis: 33.3333%;
    font-size: 16pt;
    text-align: center;
}

.listing-img {
    max-width: 415px;
}

.category-item a {
    text-decoration: none;
}

.flex-grid-0th {
    flex: 0 0 500px;
}

.flex-grid-1st {
    flex: 1 0 -webkit-calc(100% - 550px);
}

.comment-ctn {
    width: 100%;
}

.user-ctn {
    width: 20%;
}

.content-ctn {
    width: 80%;
}

.content-ctn span {
    max-height: 76px;
    overflow: hidden;
}

@media only screen and (max-width: 800px) {

    h2 {
        text-align: center;
    }

    .list-info-ctn {
        width: -webkit-calc(100vw - 250px);
        text-align: center;
    }

    .list-info-ctn p {
        display: none;
    }

    .list-info-ctn h3, h4 {
        width: 100%;
        text-align: center;
    }

    .flex-grid-0th, .flex-grid-1st {
        flex: 0 1 500px;
        margin-bottom: 2em;
    }

}