body {
    padding: 10px;
}

.active-list {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.active-list-item {
    border-top: 2px solid lightgrey;
    height: 200px;
}

.list-img-ctn {
    height: 200px;
    width: 300px;
    border-right: 1px solid lightgrey;
}

.list-img {
    max-width: 100%;
    max-height: 100%;
}

.list-info-ctn {
    height: 200px;
    overflow: hidden;
}

.active-list-item > div {
    display: table-cell;
    padding: 8px;
}


.listing-img-ctn {
    width: 100%
}