{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'listings' listing.id %}" novalidate method="POST">
        {% csrf_token %}
        <button type="submit" name="watch_button" class="btn {% if wl_check is False %}btn-secondary{% else %}btn-success{% endif %} btn-sm" value="WATCHLIST">WATCHLIST</button>
    <h2>{{ listing.title }}</h2>
    {% if bid_error %}
        <div class="alert alert-danger" role="alert">{{ bid_error }}</div>
    {% endif %}
    {% if listing.status is False %}
        <div class="alert alert-secondary" role="alert">This listing has ended. {% if is_leader is True %}You won!{% endif %}</div>
    {% endif %}
    <img src="{{ listing.img_url }}" alt="MISSING IMAGE" style="width: 500px; max-height: 500px;">
    <h3>Current price for this listing is ${{ listing.price }}.</h3>
    <span>{{ bid_count }} bids(s) so far. {% if is_leader is True %} You are the current bid leader.{% endif %}</span>
    <form action="{% url 'listings' listing.id %}" novalidate method="POST">
        {% csrf_token %}
        {% include "auctions/form_snippet.html" %}
        <button type="submit" name="bid_button" class="btn btn-primary" value="Place Bid">Place Bid</button>
    </form>
    {% if seller_check is True %}
        <form action="{% url 'listings' listing.id %}" novalidate method="POST">
            {% csrf_token %}
            <button type="submit" name="close_button" class="mt-3 btn btn-danger" value="End this listing">End this listing</button>
        </form>
    {% endif %}
{% endblock %}
