{% extends "auctions/layout.html" %}

{% block body %}
    <div class="error_div">
        {% if listing.status is False %}
            <div class="alert alert-secondary" role="alert">This listing has ended. {% if is_leader is True %}You won!{% endif %}</div>
        {% endif %}
        <h2>{{ listing.title }}</h2>
        {% if bid_errors %}
            {% for error in bid_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div class="flex-grid-0th mb-3">
            <form action="{% url 'listings' listing.id %}" novalidate method="POST">
                {% csrf_token %}
                <button type="submit" name="watch_button" class="btn {% if wl_check is False %}btn-secondary{% else %}btn-success{% endif %} btn-sm mb-3" value="WATCHLIST">WATCHLIST</button>
            </form>
            <img src="{{ listing.img_url }}" alt="MISSING IMAGE" class="listing-img">
        </div>
        <div class="flex-grid-1st ms-3 mb-3">
            <h3>Current price for this listing is <span class="bid-text">${{ listing.price }}</span>.</h3>
            <span>{{ bid_count }} bid(s) so far. {% if is_leader is True %} <span class="leader-text">You are the current bid leader.</span>{% endif %}</span>
            <form action="{% url 'listings' listing.id %}" method="POST">
                {% csrf_token %}
                {% include "auctions/form_snippet.html" %}
                <button type="submit" name="bid_button" class="btn btn-primary" value="Place Bid">Place Bid</button>
            </form>
            {% if seller_check is True %}
                <form action="{% url 'listings' listing.id %}" novalidate method="POST">
                    {% csrf_token %}
                    <button type="submit" name="close_button" class="mt-3 btn btn-danger" value="End this listing">End this listing</button>
                </form>
            {% endif %}
        </div>
        <div class="flex-grid-0th">
            <form action="{% url 'listings' listing.id %}" method="POST">
                {% csrf_token %}
                {% include "auctions/comment_snippet.html" %}
                <button type="submit" name="comment_button" class="mt-1 btn btn-primary" value="Submit Comment">Submit Comment</button>
            </form>
        </div>
        <div class="flex-grid-1st ml-3">
            <h3>Comments</h3>
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment-ctn mb-3">
                        <div class="user-ctn">
                            <span class="font-weight-bold mr-3">{{ comment.user }}</span>
                        </div>
                        <div class="content-ctn">
                            <span>{{ comment.content }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-secondary mt-3" role="alert">Be the first one to submit a comment on this listing!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
