.body {
    margin: 0 2rem 0 2rem;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 1rem;
}

#new-post-form-ctn {
    padding: 2rem;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

#submit-new-post {
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {


}