h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 1rem;
}

.body {
    margin: 0 2rem 0 2rem;
}

.posts-ctn {
    border: 1px solid lightgrey;
}

.post-ctn {
    border: 1px solid lightgrey;
    min-height: 150px;
    padding: 1rem;
    word-wrap: break-word;
}

.poster-name {
    font-weight: bold;
}

.post-datetime {
    color:rgb(91, 112, 131);
}

#new-post-form-ctn {
    padding: 1rem;
    border: 2px solid lightgrey;
}

#submit-new-post {
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {


}